.Paragr{
    margin-left: 10px;
    margin-right: 10px;
}
.Highlights
{
   /* font-family: sans-serif;*/
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 27px;
    font-style: bold;
}

.Paragraph
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-size: 19px;
  
  
}

.Highlights2
{

    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

}
.divstyle
{
   
    
    /*background-image: url("academic1.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;*/
    background-color: gray;
    width: auto;
    font-weight: 800;
    font-size: 23px;
    color: white;
    text-align: center;
    height: 170px;
    */

}

.line
{
    background-color: rgb(148, 30, 103);
    color: white;
    height: 90px;
    width: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 17px;
    font-weight: 800;

    
}

